<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Type</key>
			<string>Title</string>
			<key>Title</key>
			<string>ReceiveNewMessageNty</string>
			<key>Detail</key>
			<string></string>
			<key>Footer</key>
			<string>ChangeNty</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
			<key>SwitchOn</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>HeadphoneMode</string>
			<key>Type</key>
			<string>Switch</string>
			<key>Footer</key>
			<string>UseHeadphonePlaySound</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>Button</string>
			<key>Title</key>
			<string>HomeSettingModifyPassword</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Type</key>
			<string>ButtonWithAccessory</string>
			<key>Title</key>
			<string>ClearCache</string>
			<key>Image</key>
			<string>menu_icon_invite</string>
			<key>AccessoryImage</key>
			<string>login_bt_delete_normal</string>
			<key>HighlightedAccessoryImage</key>
			<string>login_bt_delete_pressed</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>ReceiveNewMessageNty</string>
			<key>Footer</key>
			<string>ChangeNty</string>
			<key>Type</key>
			<string>Title</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>ReceiveNewMessageNty</string>
			<key>Footer</key>
			<string>ChangeNty</string>
			<key>Type</key>
			<string>Title</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>SoundNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>VibrationNty</string>
			<key>Type</key>
			<string>Switch</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>HomeSettingModifyPassword2</string>
			<key>Type</key>
			<string>Button</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Title</key>
			<string>ClearCache2</string>
			<key>Image</key>
			<string>menu_icon_invite</string>
			<key>Type</key>
			<string>ButtonWithAccessory</string>
			<key>AccessoryImage</key>
			<string>menu_bt_open_list</string>
		</dict>
	</array>
</array>
</plist>
