<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>FirstGroup</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>username</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Protocol</string>
			<key>Titles</key>
			<array>
				<string>HTTP</string>
				<string>SMTP</string>
				<string>NNTP</string>
				<string>IMAP</string>
				<string>POP3</string>
			</array>
			<key>Values</key>
			<array>
				<string>HTTP</string>
				<string>SMTP</string>
				<string>NNTP</string>
				<string>IMAP</string>
				<string>POP3</string>
			</array>
			<key>Key</key>
			<string>protocol</string>
			<key>DefaultValue</key>
			<string>SMTP</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Wrap Drive</string>
			<key>Key</key>
			<string>wrapdrive</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Wrap</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>wrapFactor</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValueImage</key>
			<string>min</string>
			<key>MaximumValueImage</key>
			<string>max</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AdditionInfo</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>More</string>
			<key>New item</key>
			<string></string>
			<key></key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
